@font-face {
    font-family: 'ventura';
    src: url('../fonts/Ventura Script.ttf') format('truetype');
}

* {
    box-sizing: border-box; /* Это решит проблему с размерами */
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background: #ffffff;
    font-size: 22px;
    color: #1a1a1a;
    overflow-x: hidden;
}

.wrapper {
    max-width: 500px;
    margin: auto;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

/* HERO */
.hero {
    margin: auto;
    height: 95vh;
    max-width: 500px;
    background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.5) 80%, rgba(255, 255, 255, 1) 100%),
    url('../img/hero.jpg') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-family: 'ventura';
    font-size: clamp(55px, 14vw, 85px);
    font-weight: normal;
    line-height: 0.9;
    margin-bottom: 20px;
}

.hero-date {
    font-size: 28px;
    font-weight: 700;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 10px;
}

/* SECTIONS */
section {
    padding: 20px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    font-size: 34px;
    font-weight: 800;
    color: #5f4f38;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
}

/* TEXT */
.text {
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight: 800;
    color: #1d0600;
    margin: 15px 0;
}

.cursive-text {
    font-family: 'ventura';
    font-size: 1.7rem;
    color: #5a462e;
    line-height: 1.3;
}

/* CALENDAR */

.calendar-section h2{
    font-family: 'ventura';
}

.calendar-section{
    margin: 0;
}


.calendar-full {
    max-width: 100%;
    margin: auto;
}

.cal-header {
    border: 1px solid #5a462e;
    border-radius: 20px;
    padding: 15px;
    font-size: 28px;
    font-weight: 800;
    color: #5a462e;
    margin-bottom: 20px;
    line-height: 1.2;
}

.cal-header-no-border {
    font-size: 28px;
    font-weight: 800;
    color: #5a462e;
    margin-bottom: 20px;
    line-height: 1.2;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
}

.week-days span {
    font-weight: 900;
    font-size: 14px;
    color: #5a462e;
    border: 1px solid #5a462e;
    padding: 5px 0;
}

.days {
    font: 'Montserrat', sans-serif;
    border: 1px solid #5a462e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.days span {
    width: 40px; /* Фиксированная ширина для стабильности сетки */
    height: 40px; /* Фиксированная высота */
    font-size: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border: 1px solid #5a462e50;
}

/* КАЛЕНДАРЬ АНИМАЦИЯ */
.days .active {
    background: transparent; /* Убираем заливку, делаем кружок пустотелым */
    color: #5a462e; /* Цвет цифры оставляем темным или делаем акцентным */
    border: 2px solid #5a462e; /* Окружность */
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
    font-weight: 900;
    
    /* Подключаем анимацию */
    animation: pulse-circle 2s infinite ease-in-out;
}

@keyframes pulse-circle {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(90, 70, 46, 0.4);
    }
    50% {
        transform: scale(1.15); /* Увеличение кружка */
        box-shadow: 0 0 10px 2px rgba(90, 70, 46, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(90, 70, 46, 0);
    }
}

/* LOCATION */
.map-section h2 {
    font-family: 'ventura';
}

.place {
    font-family: 'ventura';
    font-size: 44px;
    color: #5a462e;
    margin-bottom: 5px;
    font-weight: 600;
}

.address {
    font-family: 'ventura';
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 20px;
}

/* BUTTON */
.map-btn {
    display: inline-block;
    padding: 18px 35px;
    background: #5a462e;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin: auto;
}

/* TIMER FOOTER */
.timer-footer {
    background: linear-gradient(to top ,rgba(0, 0, 0, 0.5) 75%, rgba(255, 255, 255, 1) 100%),
    url('../img/hero-footer.jpg') center/cover;
    padding: 60px 20px 100px;
    text-align: center;
    height: 50vh;
    max-width: 500px;
    margin: auto;
}

.timer-footer h2 {
    font-family: 'ventura';
    font-size: 32px;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.time-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 15px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    min-width: 85px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.time-box span {
    font-size: 32px;
    font-weight: 900;
    color: #ffffff;
    display: block;
}

.time-box small {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d1d1d1;
}

/* DIVIDER */

.divider {
    margin: 0;
}

/* МУЗЫКАЛЬНЫЙ КОНТЕЙНЕР */
.music-container {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    gap: 10px;
}

.music-text {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.music-player {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease;
}

.music-player {
    transform: scale(0.9);
}

.music-player svg {
    width: 20px;
    height: 20px;
}

/* HOSTS & RSVP */
.hosts-section .text {
    margin-bottom: 20px;
}

.hosts-section > h2{
    font-family: 'ventura';
}

.hosts-section > p{
    font-family: 'ventura';
    font-size: 22px;
    color: #000000;
    line-height: 1.4;
}

.rsvp-hint {
    font-size: 20px;
    font-weight: 600;
    color: #35291b;
    margin-bottom: 20px;
    line-height: 1.1;
    
}

#tg-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

#tg-form input, #tg-form select {
    width: 100%;
    padding: 16px;
    border: 1.5px solid #5a462e;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
}

#guest-input-group {
    transition: 0.3s;
}